In [1]:
# Pandas DataFrame Index
# numeric/based on specific column value
# default index is usually RangleIndex starting from 0

In [ ]:
# Accessing and Modifying the Index

import pandas as pd


data={'Name':['John','Alice','Bob','Eve','Charlie'],
    'Age':[25,30,22,35,28],
    'Gender':['Male','Female','Male','Female','Male'],
    'Salary':[50000,55000,40000,70000,48000]}

df=pd.DataFrame(data)
print(df.index) # Accessing the index

RangeIndex(start=0, stop=5, step=1)

In [4]:
# Setting a Custom Index

# Set 'Name' column as the index

df_with_index=df.set_index('Name')
print(df_with_index)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [5]:
# Resetting the Index
# If you want to reset the index back to default integer index, use reset_index() method.

# Reset the index back to the default integer index
df_reset=df.reset_index()
print(df_reset)

   index     Name  Age  Gender  Salary
0      0     John   25    Male   50000
1      1    Alice   30  Female   55000
2      2      Bob   22    Male   40000
3      3      Eve   35  Female   70000
4      4  Charlie   28    Male   48000

In [ ]:
# Indexing with loc
# The loc[] method in pandas allows to access rows and columns of DataFrame using their labels, making it easy to retrive specific data points.

row=df.loc['Bob']
print(row)

TypeError: Cannot index by location index with a non-integer key

In [10]:
# Changing the Index
# set 'Age' as the new index

df_with_new_index=df.set_index('Age')
print(df_with_new_index)

        Name  Gender  Salary
Age
25      John    Male   50000
30     Alice  Female   55000
22       Bob    Male   40000
35       Eve  Female   70000
28   Charlie    Male   48000

In [11]:
old_reset=df.reset_index()
print(old_reset)

   index     Name  Age  Gender  Salary
0      0     John   25    Male   50000
1      1    Alice   30  Female   55000
2      2      Bob   22    Male   40000
3      3      Eve   35  Female   70000
4      4  Charlie   28    Male   48000