In [8]:
import pandas as pd

df=pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
import pandas as pd

lst=['Geeks','For','Geeks','is','portal','for','Geeks']

df=pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [10]:
# Creating DataFrame from dic of Numpy Array

import numpy as np
import pandas as pd

data=np.array([[1,2,3],[4,5,6],[7,8,9]])
df=pd.DataFrame(data, columns=['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
# Creating a DataFrame from a List of Dictionaries

import pandas as pd

dic={'name':['aparna','pankaj','sudhir','Geeku'],
    'degree':['MBA','BCA','M.Tech','MBA'],
    'score':[90,40,80,98]}


df=pd.DataFrame(dic)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98