In [1]:
# A pivot table is a statistical table that summarizes a substantial table like a big dataset. It is part of data processing. 


# importing pandas
import pandas as pd

# creating dataframe
df = pd.DataFrame({'Product': ['Carrots', 'Broccoli', 'Banana', 'Banana',
                               'Beans', 'Orange', 'Broccoli', 'Banana'],
                   'Category': ['Vegetable', 'Vegetable', 'Fruit', 'Fruit',
                                'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
                   'Quantity': [8, 5, 3, 4, 5, 9, 11, 8],
                   'Amount': [270, 239, 617, 384, 626, 610, 62, 90]})
df

    Product   Category  Quantity  Amount
0   Carrots  Vegetable         8     270
1  Broccoli  Vegetable         5     239
2    Banana      Fruit         3     617
3    Banana      Fruit         4     384
4     Beans  Vegetable         5     626
5    Orange      Fruit         9     610
6  Broccoli  Vegetable        11      62
7    Banana      Fruit         8      90

In [2]:
# Create a Pivot Table in Pandas.


pivot=df.pivot_table(index=['Product'],
                     values=['Amount'],
                     aggfunc='sum')

print(pivot)

          Amount
Product
Banana      1091
Beans        626
Broccoli     301
Carrots      270
Orange       610

In [5]:
# get total sales of each category


pivot=df.pivot_table(index=['Category'],
                     values=['Amount'],
                     aggfunc='sum')

print(pivot)

           Amount
Category
Fruit        1701
Vegetable    1197

In [10]:
# Get total sales by category and product both

pivot=df.pivot_table(index=[ 'Product','Category'],
                     values=['Amount'], aggfunc='sum')

print(pivot)

                    Amount
Product  Category
Banana   Fruit        1091
Beans    Vegetable     626
Broccoli Vegetable     301
Carrots  Vegetable     270
Orange   Fruit         610

In [11]:
# Get the mean, median, minimum sale by category



pivot=df.pivot_table(index=['Category'], values=['Amount'],
                     aggfunc={'median','mean','min'})

print(pivot)

           Amount
             mean median min
Category
Fruit      425.25  497.0  90
Vegetable  299.25  254.5  62

In [14]:
# get the mean, median, minimum sale by product


pivot=df.pivot_table(index=['Product'], values=['Amount'],
                     aggfunc={'median','mean','min'})


print(pivot)

              Amount
                mean median  min
Product
Banana    363.666667  384.0   90
Beans     626.000000  626.0  626
Broccoli  150.500000  150.5   62
Carrots   270.000000  270.0  270
Orange    610.000000  610.0  610