In [2]:
# Indexing and Selecting Data with Pandas

# Indexing Data Using the [] Operator


import pandas as pd

# Recreate the DataFrame manually
data = {
    'Name': ['Avery Bradley', 'Jae Crowder', 'John Holland', 'R.J. Hunter', 'Jonas Jerebko'],
    'Team': ['Boston Celtics'] * 5,
    'Number': [0.0, 99.0, 30.0, 28.0, 8.0],
    'Position': ['PG', 'SF', 'SG', 'SG', 'PF'],
    'Age': [25.0, 25.0, 27.0, 22.0, 29.0],
    'Height': ['6-2', '6-6', '6-5', '6-5', '6-10'],
    'Weight': [180.0, 235.0, 205.0, 185.0, 231.0],
    'College': ['Texas', 'Marquette', 'Boston University', 'Georgia State', None],
    'Salary': [7730337.0, 6796117.0, None, 1148640.0, 5000000.0]
}

df = pd.DataFrame(data)
df.set_index('Name', inplace=True)

# Save to CSV
df.to_csv('boston_celtics_data.csv')

print("CSV file saved successfully.")

CSV file saved successfully.

In [7]:
# Selecting a Single Colummn


import pandas as pd


data=pd.read_csv('boston_celtics_data.csv', index_col='Name')
print('Dataset')
display(data.head(5))

first=data['Age']
print('\nSingle Column selected from Dataset')
display(first.head(5))

Dataset

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

Single Column selected from Dataset

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
Name: Age, dtype: float64

In [9]:
# Selecting Multiple Columns 

first = data[['Position','Age','College','Salary']]
print('\nMultiple Columns selected from Dataset')
display(first.head(5))

Multiple Columns selected from Dataset

              Position   Age            College     Salary
Name
Avery Bradley       PG  25.0              Texas  7730337.0
Jae Crowder         SF  25.0          Marquette  6796117.0
John Holland        SG  27.0  Boston University        NaN
R.J. Hunter         SG  22.0      Georgia State  1148640.0
Jonas Jerebko       PF  29.0                NaN  5000000.0

In [14]:
# Indexinf with .loc[]


#  .loc[] function is used for label-based indexing. It allows us to access rows and columns by their labels. Unlike the indexing operator, it can select subset of rows and columns simultaneously which offers flexibility in data retrival..

# Selecting a Single Row by Label


import pandas as pd
data=pd.read_csv('boston_celtics_data.csv', index_col='Name')

row=data.loc['Avery Bradley']
print(row)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [16]:
# Selecting Multiple rows by Label


rows=data.loc[['Avery Bradley','R.J. Hunter']]
print(rows)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

In [17]:
# Selecting Specifiv Rows and Columns


selection=data.loc[['Avery Bradley','R.J. Hunter'],['Team','Number','Position']]
print(selection)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics     0.0       PG
R.J. Hunter    Boston Celtics    28.0       SG

In [18]:
# Selecting all Rows and Specific Columns
# We can sellect all rows and colums by using [:] operation



all_rows_specific_columns=data.loc[:,['Team','Position','Salary']]
print(all_rows_specific_columns)

                         Team Position     Salary
Name
Avery Bradley  Boston Celtics       PG  7730337.0
Jae Crowder    Boston Celtics       SF  6796117.0
John Holland   Boston Celtics       SG        NaN
R.J. Hunter    Boston Celtics       SG  1148640.0
Jonas Jerebko  Boston Celtics       PF  5000000.0

In [20]:
# Indexing with .iloc[] is position based indexing, it allows us to access rows and columns by their intiger positions. 
# Selecting a Single Row by Position


import pandas as pd
data=pd.read_csv('boston_celtics_data.csv', index_col='Name')
row=data.iloc[3]
print(row)

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [34]:
# Selecting Multiple Rows by Position

rows = data.iloc[[0,3,4]]
print(rows)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0
Jonas Jerebko            NaN  5000000.0

In [35]:
# Selecting Specific Rows and Columns by Position

selection=data.iloc[[3,4],[1,2]]
print(selection)

               Number Position
Name
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF

In [36]:
# Selecting all rows and Specific columns


selection=data.iloc[:,[1,2]]
print(selection)

               Number Position
Name
Avery Bradley     0.0       PG
Jae Crowder      99.0       SF
John Holland     30.0       SG
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF

In [38]:
# Other Useful Indexing Methods


# .head() returns the first n row of a DataFrame

print(data.head(5))

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0

In [39]:
# .tail(): Returns the last n rows of a DataFrame


print(data.tail(5))

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0

In [40]:
# .at[]: Access a single value for a row/column laber pair


value=data.at['Avery Bradley', 'Age']
print(value)

25.0

In [44]:
# .query(): Query the DataFrame using a boolean expression


result=data.query('Age>=25 and College=="Texas"')
print(result)

                         Team  Number Position   Age Height  Weight College  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0   Texas

                  Salary
Name
Avery Bradley  7730337.0