In [3]:
# Slicing Pandas DataFrame
# Create a Custom DataFrame


import pandas as pd


player_list=  [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

df=pd.DataFrame(player_list, columns=['Name','Age','Weight','Salary'])
print(df)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000
5         J.Root   33      72  7028000
6     K.Peterson   42      85  2528000

In [7]:
# Slicing using iloc[] (Integer-Based Indexing)
# Slicing Rows in dataframe


df1=df.iloc[:4]
print(df1)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000

In [9]:
# Slicing Columns in dataframe

df1=df.iloc[:, 0:2]
print(df1)

            Name  Age
0      M.S.Dhoni   36
1  A.B.D Villers   38
2        V.Kohli   31
3        S.Smith   34
4        C.Gayle   40
5         J.Root   33
6     K.Peterson   42

In [10]:
# Selecting a Specific Cell in a Pandas DataFrame

value = df.iloc[2,3]
print('Specified Cell Value:', value)

Specified Cell Value: 8428000

In [14]:
# Using a Boolean Condition in a Pandas DataFrame


data=df[df['Age']>=35].iloc[:,:]
print('\nFiltered Data based on age >35:\n', data)

Filtered Data based on age >35:
             Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
4        C.Gayle   40     100  4528000
6     K.Peterson   42      85  2528000

In [20]:
# Slicing Using .loc[]
# Slicing Rows in DataFrame

#df.set_index('Name', inplace=True)


custom=df.loc['A.B.D Villers':'S.Smith']
print(custom)

               Age  Weight   Salary
Name
A.B.D Villers   38      74  3428000
V.Kohli         31      70  8428000
S.Smith         34      80  4428000

In [21]:
# Selecting Specified cell in DataFrame

value=df.loc['V.Kohli','Salary']
print('\nValue of the Specified Cell (V.Kohli, Salary):', value)

Value of the Specified Cell (V.Kohli, Salary): 8428000