In [ ]:
1# Typles in Python
#Tuples In Python, there are different data types: String, Integer, and Float. 
# These data types can all be contained in a tuple as follows:
#Now, let us create your first tuple with string, integer and float.
tuple1 = ('disco',10, 1.2)
tuple1

('disco', 10, 1.2)

In [2]:
2# Print the type of the variable
type(tuple1)

tuple

In [3]:
3# Indexing
# Each element of a tuple can be accessed via an index. Each element can be obtained by the name of the tuple followed by the square bracket with the index number:
# We can print out each value in the tuple:
print(tuple1[0])
print(tuple1[1])
#print(tuple1[3])

disco
10

In [4]:
4# We can also use the negative indexing. We use the same tuple1 variable with corresponding negative values:
#We can obtain the last element as follows (this time we will not use the print statement to display the values):
tuple[-1]

tuple[-1]

In [5]:
5# We can display the next two elements as follows:
tuple1[-2]

10

In [6]:
6#tuple1[-3]

6

In [7]:
7#Concatinate Tuples
# We can concatenate or combine tuples by using the + sign:
# Concatenate two tuples:
tuple2=tuple1+("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [8]:
8# We can slice tuples obtaining multiple values as demonstrated by the figure below:
#Slicing
#We can obtain the last two elements of the tuple:
# Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [9]:
9# We can obtain the last two elements of the tuple:
tuple2[3:5]

('hard rock', 10)

In [10]:
# We can obtain the length of a tuple using the length command:
len((tuple2))

5

In [11]:
# Sorting 
# A sample tuple
Ratings = (0,9,6,5,10,8,9,6,2)

In [12]:
# Sort the tuple:
RatingsSorted=sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [13]:
# Nested Tuple
# A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:
# Create a nest tuple
# Create a 
NestedT = (1, 2, ('pop', 'rock'), (3,4), ('disco', (1,2)))

In [14]:
print('0:', NestedT[0])
print("1:",NestedT[1])
print('2:', NestedT[2])
print('3:', NestedT[3])
print('4:', NestedT[4])

0: 1
1: 2
2: ('pop', 'rock')
3: (3, 4)
4: ('disco', (1, 2))

In [15]:
# We can use the second index to access other tuples as demonstrated in the figure:
# We can access the nested tuples:
print('[2][0]:', NestedT[2][0])
print('[2][1]:', NestedT[2][1])
print('[3][0]:', NestedT[3][0])
print('[3][1]:', NestedT[3][1])
print('[4][0]:', NestedT[4][0])
print('[4][1]:', NestedT[4][1])

[2][0]: pop
[2][1]: rock
[3][0]: 3
[3][1]: 4
[4][0]: disco
[4][1]: (1, 2)

In [16]:
# We can access strings in the second nested tuples using a third index:
# Print the first element in the second nested tuples
NestedT[2][1][0]

'r'

In [17]:
# Print the second element in the second nested tuples
NestedT[2][1][1]

'o'

In [18]:
#
NestedT[4][0][1]

'i'

In [19]:
# Print the first element in the second nested tuples
NestedT[4][1][0]

1

In [20]:
#QUIZ ON TUPLES
#sample tuple
genres_tuples = ('pop', 'rock', 'soul', 'hard rock', 'soft rock', 'R&B', 'progressive rock', 'disco')
genres_tuples

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [21]:
# Find the length of the tuple,
len(genres_tuples)

8

In [22]:
#Access the element ,with respect to index 3:
genres_tuples[3]

'hard rock'

In [23]:
genres_tuples[3:6]

('hard rock', 'soft rock', 'R&B')

In [24]:
#Find the first two elements of the tuple genres_tuple:
genres_tuples[0:2]

('pop', 'rock')

In [25]:

#Find the index of 's' in "disco":
genres_tuples[7][2]

's'

In [26]:
#Find the index of 's' in "disco":
'disco'.find('s')

2

In [27]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [28]:
A = (2,3,4,5)

In [29]:
A.append[1]

AttributeError: 'tuple' object has no attribute 'append'