In [1]:
# Pythong String Formatting 

# F-string  allows you to format sellected parta of a string.
# To specify a string you to format, simply put a f in front of a string literal:

In [3]:
txt=f'The price is 49 dollars'
print(txt)

The price is 49 dollars

In [4]:
# Placeholder and Modifiers
# To format values in a f-string, add placeholders{}, a placeholder can contain variables, operations, functions, and modifiers to format the values.




price=59
txt=f'The price is {price} dollars'
print(txt)

The price is 59 dollars

In [6]:
# A palceholder can include a modifier to format the value.
# A modifier is included by adding a colon: followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:



price=59
txt=f'The price is {price:.2f} dollars'
print(txt)

The price is 59.00 dollars

In [8]:
# You can also format a value directly without keeping it in a variable:


txt=f'The price is {95:.2f} dollars'
print(txt)

The price is 95.00 dollars

In [9]:
#Perform Operations in F-Strings
# You can perform python operations inside the placeholders.


txt=f'The price is {20*50} dollars'
print(txt)

The price is 1000 dollars

In [12]:
# You can perform math operations on variables:


price=59
tax=.25
txt=f'The price is {price+(price*tax)} dollars'
print(txt)

The price is 73.75 dollars

In [13]:
# You can perform if ... else statements inside the placeholders:


price=49
txt=f'It is very {'Expensive' if price >50 else 'Cheap'}'

print(txt)

It is very Cheap

In [14]:
# Execute Functions in F-Strings


fruit='apples'
txt=f'I love {fruit.upper()}'
print(txt)

I love APPLES

In [15]:
def myconverter(x):
    return x*.3048

txt=f'The plane is flying at a {myconverter(30000)} meter altitude'
print(txt)

The plane is flying at a 9144.0 meter altitude

In [16]:
# More Modifiers 


price=59000
txt=f'The price is {price:,} dollars'
print(txt)

The price is 59,000 dollars

In [19]:
# String format()

price=49

txt=f'The price is {price} dollars'
print(txt)   #(txt.format(price))

The price is 49 dollars

In [1]:
txt='The price is {:.2f} dollars'

print(txt)

The price is {:.2f} dollars

In [3]:
# Multiple Values


print(txt.format(price, itemno, count))

NameError: name 'price' is not defined

In [5]:
quantity=3
itemno=567
price=49
myorder='I want {} price of item number {} for {:.2f} dollars.'
print(myorder.format(quantity,itemno,price))

I want 3 price of item number 567 for 49.00 dollars.

In [6]:
# Index Numbers 
# You can use index numbers ( a number inside the curly brackets {0}) to be sure the value are placed in the correct placeholders:



quantity=3
itemno=567
price=49
myorder='I want {0} pieces of item number {1} for {2:.2f} dollars'
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item number 567 for 49.00 dollars

In [7]:
# Also if you want to refer to the same number more than once, use the index number:


age=36
name='John'
txt='His name is {1}. {1} is {0} years old'
print (txt.format(age,name))

His name is John. John is 36 years old

In [8]:
# Named indexes


myorder='I have a {carname}, it is a {model}.'
print(myorder.format(carname='Ford',model='Mustang'))

I have a Ford, it is a Mustang.