In [1]:
# Sets are used to store multiple items in a singke variable
# A set is a collections which is unordered, unchangable, and unindexed.
# Set items are unchangable, but you can remove items and add new items.
# Sets are written with curly brackets.

In [2]:
# Set items are unordered, unchangable, and do not allow duplicate values.
# Unordered means that the items in a ser do not have a defined order.
# Set items can appera in a different order every time you use them, and can not be reffered to by index or key.

In [3]:
# Unchangable - Set items are unchangable, meaning that we can not change the items after the set has been created.
# Once set is created, you can not cange its items, but you can remove items and add new items.

In [4]:
#Duplicates are not allowed

In [8]:
# True and 1 is considered the same value in sets, also 0 and False are considered the same value:
thisset={'apple','banana','cherry', True,1,2}
print(thisset)

thisset={'apple','banana','cherry',False,True,0}
print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}
{False, True, 'cherry', 'banana', 'apple'}

In [11]:
# Python - Access Set Items

# You can not access items in a set by reffering to an index or a key.
# But, you can loop through set items using a for loop, or ask if a specified value is present in a set. by using in keyword.

thisset={'apple','banana','cherry'}

for x in thisset:
 print(x)

cherry
apple
banana

In [12]:
thisset={'apple','banana','cherry'}

print('banana' in thisset)

True

In [15]:
thisset={'apple','banana','cherry'}
print('banana' not in thisset)

False

In [16]:
# Python - Add Set Items

# To add items from another ser into the current set ,use the update() method:

thisset= {'apple','banana','cherry'}
tropical={'pineapple','mango','papaya'}

thisset.update(tropical)
print(thisset)

{'pineapple', 'cherry', 'banana', 'papaya', 'mango', 'apple'}

In [17]:
# Add any iterables
# the object in the update() method does not have to be a set, it can be any iterable objects (tuple,list, dictionaries)

thisset={'apple','banana','cherry'}
mylist=['kiwi','orange']

thisset.update(mylist)
print(thisset)

{'cherry', 'banana', 'kiwi', 'orange', 'apple'}

In [ ]:
thisset={'apple','banana','cherry'}
x=thisset.pop()

print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [20]:
thisset={'apple','banana','cherry'}
thisset.clear()
print(thisset)

set()

In [21]:
thisset={'apple','banana','cherry'}
del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [22]:
# Loop Items
# You can loop through the set items by using a for loop:

thisset={'apple','banana','cherry'}

for x in thisset:
    print(x)

cherry
apple
banana

In [23]:
# Python Join Sets

""" 
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

"""

' \nThere are several ways to join two or more sets in Python.\n\nThe union() and update() methods joins all items from both sets.\n\nThe intersection() method keeps ONLY the duplicates.\n\nThe difference() method keeps the items from the first set that are not in the other set(s).\n\nThe symmetric_difference() method keeps all items EXCEPT the duplicates.\n\n'

In [25]:
# Union - union() method returns a new set with all items from both sets.


set1={'a','b','c'}
set2={1,2,3}

set3=set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [26]:
# You can use | operator instead of the union(), and you will get the same result.

set1={'a','b','c'}
set2={1,2,3}

set3=set1|set2
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [27]:
# Join Multiple Sets


# Union operator

set1={'a','b','c'}
set2={1,2,3}
set3={'John','Elena'}
set4={'apple','banana','cherry'}

myset=set1.union(set2,set3,set4)
print(myset)

{1, 2, 3, 'Elena', 'cherry', 'banana', 'c', 'John', 'b', 'a', 'apple'}

In [28]:
# When using | operator, separate the sets with more | operators:

set1={'a','b','c'}
set2={1,2,3}
set3={'John','Elena'}
set4={'apple','banana','cherry'}

myset=set1|set2|set3|set4
print(myset)

{1, 2, 3, 'Elena', 'cherry', 'banana', 'c', 'John', 'b', 'a', 'apple'}

In [31]:
# Join a set and tuple
# The union() method allows you to join a set with other data types, like list or tuple.

x={'a','b','c'}
y=(1,2,3)

z=x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

In [32]:
# Note: | operator only allows you to join sets. and not with other data types like you can with the union() method.

In [34]:
# Update 

# the update() method inserts all items from one set into another.
# the update() changes the original set, and does not return a new set.


set1={'a','b','c'}
set2={1,2,3}


set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [35]:
# both union() and update() commands will exclude any duplicate items.

In [37]:
# Intersection - Keeps only duplicates

# The intersection() method will return to a new set, that only contains the items that are present in both sets.


set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}

set3=set1.intersection(set2)

print(set3)

{'apple'}

In [38]:
# You can use & operator instead of the intersection() operator, and you will get the same result:

set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}

set3=set1&set2
print(set3)

{'apple'}

In [39]:
# the & operator only allows you to join sets with sets, and not with other data types like you can with intersection() method.

In [40]:
# the intersection_update() method will also keep only the duplicates, but will change the original set instead of returning a new set.

set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [41]:
# The values True and 1 are considered the same value. The same goes for False 0.

set1={'apple',1,'banana',0,'cherry'}
set2={False,'google',1,'apple',2,True}
set3=set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [43]:
# Difference

# The difference() method will return a new set that will contain only the items from the first set that are not presentin the other set.

set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}

set3=set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [44]:
# You can use the operator - instead of the difference method, and you will get the same result.

set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}

set3=set1-set2
print(set3)

{'banana', 'cherry'}

In [45]:
# The difference_update() method to keep the items that are not present in both sets:

set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}
set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [46]:
# Symmetric Differeences
# The symmetric_differences() method will keep only the elements that are not present in both cases:

set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}

set3=set1.symmetric_difference(set2)
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

In [48]:
# You can use ^ operator instead of the symetric_difference() method, and you will get the same result.

set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}

set3=set1^set2
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

In [49]:
# The symmetric_difference_update method will also keep all but duplicates, but will change the original set instead of returning a new set.

set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}

set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'banana', 'microsoft', 'google'}